*{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: white;
    
}

body{
    background-color: white;
    font-size: 15px;
    font-weight: 400px;
}


#main-container{
    margin-top: 150px;
    margin-bottom: 150px;
    margin-left: 75px;
    margin-right: 75px;
    display: flex;
    justify-content: center;
    
   
}

.container-1{
    background-color: hsl(31, 77%, 52%);
    width: 18em; height: 25em;
    padding: 100px 50px;
    text-align: centre;
    
}

.container-2{
    background-color: hsl(184, 100%, 22%);
    width: 18em; height: 25em;
    padding: 100px 50px;
    text-align: justify;
    }

.container-3{
    background-color: hsl(179, 100%, 13%);
    width: 18em; height: 25em;
    padding: 100px 50px;
    text-align: justify;
   
}

h2{
    font-weight: 700;
}

p{font-weight: 400;
  font-size: 13px;
}


.mybutton1{
    background-color: hsl(31, 77%, 52%);
    height: 40px;
    width: 100px;
    text-align: center;
    justify-content: center;
    border-color: white;
    border-radius: 20px;
}

.mybutton2{
    background-color: hsl(184, 100%, 22%);
    height: 40px;
    width: 100px;
    text-align: center;
    justify-content: center;
    border-color: white;
    border-radius: 20px;
}
.mybutton3{
    background-color: hsl(184, 100%, 22%);
    height: 40px;
    width: 100px;
    text-align: center;
    justify-content: center;
    border-color: white;
    border-radius: 20px;
}
a{
    text-decoration: none;
    font-size: 16px;
}
a:link {color:rgba(255, 20, 20, 0.8) ;}
a:hover{color: aqua;}
a:visited{color: darkcyan;}
a:active{color: darkgreen;}
.attribution { font-size: 15px; text-align: center; 
               color: hsl(228, 45%, 44%);
}