* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
    color: white;
}

body {
    background-color: white;
    font-size: 16px;
    font-weight: 400px;
    justify-content: center;
}

#main-container {
    margin: 150px 75px;
    display: flex;
    justify-content: center;
    width: auto;
}

.container-1 {
    background-color: hsl(31, 77%, 52%);
    width: 18em;
    height: 25em;
    padding: 100px 50px;
    text-align: left;
}

.container-2 {
    background-color: hsl(184, 100%, 22%);
    width: 18em;
    height: 25em;
    padding: 100px 50px;
    text-align: left;
}

.container-3 {
    background-color: hsl(179, 100%, 13%);
    width: 18em;
    height: 25em;
    padding: 100px 50px;
    text-align: left;
}

h2 {
    font-weight: 700;
}

p {
    font-weight: 400;
    font-size: 15px;
}

.mybutton1 {
    background-color: hsl(31, 77%, 52%);
    height: 40px;
    width: 100px;
    text-align: center;
    justify-content: center;
    border-color: white;
    border-radius: 20px;
}

.mybutton2 {
    background-color: hsl(184, 100%, 22%);
    height: 40px;
    width: 100px;
    text-align: center;
    justify-content: center;
    border-color: white;
    border-radius: 20px;
}

.mybutton3 {
    background-color: hsl(184, 100%, 22%);
    height: 40px;
    width: 100px;
    text-align: center;
    justify-content: center;
    border-color: white;
    border-radius: 20px;
}

a {
    text-decoration: none;
    font-size: 16px;
}

a:link {
    color: rgba(255, 20, 20, 0.8);
}

a:hover {
    color: aqua;
}

a:visited {
    color: darkcyan;
}

a:active {
    color: darkgreen;
}

.attribution {
    font-size: 15px;
    text-align: center;
    color: hsl(228, 45%, 44%);
}

@media(max-width:600px) {
    #main-container {
        width: 90%;
        margin: auto;
        justify-content: center;
        overflow: hidden;
        box-sizing: content-box;
        display: block;
        border: 0.1px light #333;
        border-radius: 20px;
        margin-top:50px
        margin-bottom: 50px;
    }
    .container-1 {
        background-color: hsl(31, 77%, 52%);
        width: 20em;
        height: 25em;
        padding: 100px 20px;
        text-align: left;
        border: 0.1px light #333;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .container-2 {
        background-color: hsl(184, 100%, 22%);
        width: 20em;
        height: 25em;
        padding: 100px 20px;
        text-align: left;
    }
    .container-3 {
        background-color: hsl(179, 100%, 13%);
        width: 20em;
        height: 25em;
        padding: 100px 20px;
        text-align: left;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}
