:root {
    --primary-color: hsl(0, 0%, 100%);
    --paragraph-color: hsla(0, 0%, 100%, 0.75);
    --stats-color: hsla(0, 0%, 100%, 0.6);
  }

/* BASE STYLES */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html,body {
    background-color: hsl(233, 47%, 7%);
    color: var(--primary-color);
    font-size: 15px;
    /* height: 0vh; */
  }

/* SECTION */

section {
    display: flex;
    width: 70vw;
    height: auto;
    background-color: hsl(244, 38%, 16%);
    margin: 200px auto;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    border-radius: 10px;
    /* position: relative; */
    /* justify-content: ;
    align-content: center; */
}

/*the text section*/
.main-card-reader {
    width: 50%;
    padding: 5%;

}
.content-text-header {
    padding-bottom: 30px;
}
.content-text-header span {
    color: hsl(277, 64%, 61%);
}
.content-text-paragraph {
    font-family: 'Lexend Deca', sans-serif;
    padding-bottom: 50px;
    font-weight: 400;
    color: var(--paragraph-color);
}

.content-text-stats {
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.stats {
    padding-right: 10px;
    padding-bottom: 10px;
}
.stats p {
    color: var(--stats-color);

}

/*the image section*/
.content-img {
    width: 50%;
    background-image: linear-gradient(hsla(277, 64%, 61%, 0.5), hsla(277, 64%, 61%, 0.5)), url(/images/image-header-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0 10px 10px 0;

    /* position: absolute; */
   
}

@media (max-width: 375px) {
    section {
        flex-direction: column-reverse;
        height: 100vh;
        text-align: center;
        margin: 100px auto;
    }

    /*the text section*/
    .content-text {
        width: auto;
        height: 70%;
    }
    .content-text-header {
        padding-bottom: 30px;
    }
    .content-text-stats {
        flex-direction: column;
    }

    .stats {
        padding-bottom: 20px;;
    }
    /*the image section*/
    .content-img {
        width: auto;
        height: 30%;
        background-image: linear-gradient(hsla(277, 64%, 61%, 0.5), hsla(277, 64%, 61%, 0.5)), url(/images/image-header-mobile.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 10px 10px 0 0;
        margin-bottom: 20px;;
    }


}